body {
    background: rgb(17, 17, 17);
    color: #fff;
}

/* Fixed BG fix for mobile */
#main-section:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/web_dev_background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#design-concept-slider {
    background: black;
}

#pricing {
    background: black;
}

#contact {
    background: black;
}

#footer-section {
    background: black;
}
.container-bg {
    background: black;
}

.navbar {
    border-bottom: black(146, 1, 1) 3px solid;
}

button.navbar-toggler:focus { outline: 1px none; }

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#main-nav .active {
    background-color: rgb(221, 0, 0) !important;
}

#main-footer {
    /* background: rgba(207, 207, 207, 0.555); */
    color: #fff;
}

.icon-small {
    display: none;
}

#main-section {
    background: url(../Design-Portfolio/images/web_dev_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;

}

#main-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 650px;
    background: rgba(0,0,0,0.75)
}

#main-section .main-inner {
    padding-top: 150px;
}

#main-section .short-heading {
    display: none;
}
#main-section .line-item {
    font-size: 1.2rem;
}

#main-section .fas {
	color: red;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
}
#main-section .check-small {
    display: none;
}

.contact-form {
    background: rgb(206, 0, 0);
    color: rgb(255, 255, 255);
}

.gradient-bg {
    background: url(../images/grey_background_sm.png);
    background-size: auto;
}

#resp-contact {
    background-color: black;
}


#design-concept-header {
    position: relative;
    /* min-width: 300px; */
    min-height: 220px;
    background: url(../sites/Glozzom/images/lights.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

#design-concept-header h1{
    margin-top: 5 !important;
}


.dark-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#home-icons {
    color: black;
    background: red;
    /* padding-top: 4;
    padding-bottom: 4; */
}

#design-concept-header h1 {
    font-size: 4rem;
    color: red;
    padding-top: 5;
}


.bg-red {
    background: red;
    color: white;
}

.concept-description {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}


.carousel-indicators {
    bottom: -5px;
}

.img-max {
    max-width: 526px;
    width: 100%;
    
}

.gif-container {
    max-width: 960px;
}

#footer-section {
    padding-bottom: 70px;
}

.footer-line{
       display: block;
       position: relative;
       padding: 0;
       margin: 0px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
       background: black;
    }

/* PRICING */

#pricing {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pricing .card-body {
    color: white;
}

#pricing .card {
    border: none;
}

@media (max-width: 1200px){
    #main-section .line-item{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #main-section {
        background: url(../images/web_dev_background_sm.jpg);
        background-repeat: no-repeat;  
        min-height: 512px; 
        font-size: 1rem;
    }

    #main-section .dark-overlay {
        min-height: 512px;
    }
    #main-section .main-inner {
        padding-top: 90px;
    }
    .main-inner{
        margin-bottom: 1;
    }
    #main-section .short-heading {
    display: inline-block;
    }
    #main-section .full-heading {
    display: none;
    }
    #main-section .check-small {
    display: inline-block;
    }
    #main-section .check-large {
    display: none;
    }
    #main-section h1 {
        font-size: 3.25rem; }
    .mb-resp {
        margin-bottom: 1rem; } 
    .line-item {
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    #design-concept-header {
        min-height: 110px;
    }
    #design-concept-header h1{
        font-size: 2.5rem;
    }
    #design-concept-header {
        margin-top: 1 !important;
        margin-bottom: 1 !important;
    }
    .concept-caption {
        padding-top: 50px;
    }
    .icon-small{
        display: inline-block;
    }
    .icon-large{
        display: none;
    }
    .concept-description {
        font-size: 1.75rem;
    }


}

@media (max-width: 410px) {
    #main-section h1 {
        font-size: 2.25rem; }
    .concept-description {
        font-size: 1.5rem;
    }

}

@media (max-width: 300px) {
    #main-section h1 {
      font-size: 1.3rem; }

    #main-section .main-inner {
    padding-top: 75px;
    }

    #main-section p {
      font-size: 1rem; } 
    #design-concept-header h1{
        font-size: 2rem;
    }

    #home-icons p{
        display: none;
    }

}